<!DOCTYPE html>
<html>
{% block title %} project {% endblock %}
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
{% block head %}
	 
{% endblock %}
</head>

<body>
{% block page_content %}
<header>
    <div class="nav">
	    <ul>
	    <li class="search_nav"><a class="active" href="project.html">Search</a></li>
	    <li class="predict"><a href="project2.html">Predict</a></li>
	    <li class="login" style="float:right"><a href="#">Login</a></li>
	    </ul>
    </div>
</header>

<div class = "container">

		<div class="img-block"></div>
		<section class = "search">
		<div>
			<input type="text" class = "searchtext" id="stockid" name="stockid" placeholder="Input stock symbol">
			<button class = "searchbtn" onclick="search()" id="searchbtn"><span>Search</span></button>
		</div>
		</section>

		{% block graph %}
		{% endblock %}

</div>

<script>
	function search(){

	}

	function login(){

	}

	function signup(){

	}
</script>

{% endblock %}
</body>
</html> 